<mat-toolbar color="primary">

    <mat-toolbar-row>
  
      <ng-container>
        <button mat-icon-button (click)="toggleSidenav.emit()">
          <mat-icon > menu </mat-icon>
        </button>
      </ng-container>
  
      <span class="navigation-bar-title">
        MyMoney
      </span>
  
      <span class="navigation-bar-spacer"></span>
  
      <ng-container>
  
        <button mat-icon-button>
          <mat-icon> settings </mat-icon>
        </button>
  
        <button mat-icon-button >
          <mat-icon > help </mat-icon>
        </button>
  
      </ng-container>
  
      <ul class="navigation-items">
  
        <li>
  
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon> person</mat-icon>
          </button>
  
          <mat-menu #auth="matMenu">
  
            <ng-container >
  
              <button mat-menu-item (click)="logout()">
                <mat-icon > logout </mat-icon>
                <span>
                  Logout
                </span>
              </button>
  
            </ng-container>
  
          </mat-menu>
  
        </li>
  
      </ul>
  
    </mat-toolbar-row>
  
  </mat-toolbar>
  