.material-icons.color_white { 
  color: #FFFFFF; 
}

$toolbar-title-padding: 16px !default;

.mytoolbar-bar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.mytoolbar-bar-spacer {
  flex: 1 1 auto;
}

.mytoolbar-items {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}
