<div>
	<mat-toolbar class="command-bar">
		<mat-toolbar-row class="command-bar-row">
			<button mat-button (click)="back()" [disabled]="!isReadOnly" >
				<mat-icon>arrow_back</mat-icon>
				<span>BACK</span>
			</button>
			<button mat-button (click)="edit()" [disabled]="!isReadOnly" >
				<mat-icon>edit</mat-icon>
				<span>EDIT</span>
			</button>
			<button mat-button (click)="save()" [disabled]="isReadOnly" >
				<mat-icon>save</mat-icon>
				<span>SAVE</span>
			</button>
			<button mat-button (click)="cancel()" [disabled]="isReadOnly">
				<mat-icon>close</mat-icon>
				<span>CANCEL</span>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
</div>

<div class="content-container">

	<h2>{{title}}</h2>

	<mat-card>
		<form fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" [formGroup]="form" class="input-form">

			<mat-form-field fxFlex color="accent" class="inputform-full-width">
				<mat-label>Nome</mat-label>
				<input matInput placeholder="Es. Contanti" value="" formControlName="name" [readonly]="isReadOnly">
				<mat-error *ngIf="form.controls.name.errors">{{getErrorMessage()}}</mat-error>
			</mat-form-field>

			<mat-form-field fxFlex color="accent" class="inputform-full-width">
				<mat-label>Ordine</mat-label>
				<input matInput type="number" placeholder="Ex. 2" formControlName="order" min="1" [readonly]="isReadOnly">
				<mat-error *ngIf="form.controls.order.errors">{{getErrorMessage()}}</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Tipo</mat-label>
				<mat-select placeholder="Select Week" formControlName="accountType">
					<mat-option *ngFor="let tipo in tipi" [value]="tipo">
					  {{ tipo }}
					</mat-option>
				  </mat-select>
			  </mat-form-field>
	
			<mat-form-field fxFlex color="accent" floatLabel="always" class="inputform-full-width">
				<mat-label>Attivo</mat-label>
				<textarea matInput hidden></textarea>
				<mat-slide-toggle formControlName="isActive" [disabled]="isReadOnly"></mat-slide-toggle>
			</mat-form-field>

			<mat-form-field fxFlex color="accent" floatLabel="always" class="inputform-full-width">
				<mat-label>Icona e Colore</mat-label>
				<textarea matInput hidden></textarea>
				<button mat-fab [ngStyle]="{'background-color': form.controls['color'].value }" (click)="openDialog()" [disabled]="isReadOnly" aria-label="Example icon button with a bookmark icon">
					<mat-icon formControlName="icon">{{form.controls["icon"].value}}</mat-icon>
				  </button>
			</mat-form-field>
	
		</form>

	</mat-card>



</div>
