<mat-toolbar color="primary">

  <mat-toolbar-row>

    <ng-container>
      <button mat-icon-button (click)="navigationSidenav.toggle()">
        <mat-icon > menu </mat-icon>
      </button>
    </ng-container>

    <span class="navigation-bar-title">
      MyMoney
    </span>

    <span class="navigation-bar-spacer"></span>

    <ng-container>

      <button mat-icon-button>
        <mat-icon> settings </mat-icon>
      </button>

      <button mat-icon-button >
        <mat-icon > help </mat-icon>
      </button>

    </ng-container>

    <ul class="navigation-items">

      <li>

        <button mat-icon-button [matMenuTriggerFor]="auth">
          <mat-icon> person</mat-icon>
        </button>

        <mat-menu #auth="matMenu">

          <ng-container >

            <button mat-menu-item (click)="logout()">
              <mat-icon > logout </mat-icon>
              <span>
                Logout
              </span>
            </button>

          </ng-container>

        </mat-menu>

      </li>

    </ul>

  </mat-toolbar-row>

</mat-toolbar>


<mat-sidenav-container class="sidenavNavigation">

  <mat-sidenav #navigationSidenav mode="over" role="navigation">

    <mat-nav-list>

      <ng-container  >

        <h2 matSubheader>
            Start
        </h2>

        <!-- Hides the auto highlighting of the first item in the nav list -->
        <a mat-list-item routerLink="/" style="height: 0;"></a>
        <a 
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="['/']"
           routerLinkActive="list-item-active">
           <mat-icon  class="nav-list-icon"> home </mat-icon>
           Dashboard
        </a>

      </ng-container>

      <ng-container >

        <h2 matSubheader>
          Dettagli
        </h2>

        <!-- Hides the auto highlighting of the first item in the nav list -->
        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a
          mat-list-item
          (click)="navigationSidenav.close()"
          [routerLink]="['/accounts']"
          routerLinkActive="list-item-active">
          <mat-icon class="nav-list-icon"> account_balance </mat-icon>
          Accounts
        </a>


      </ng-container>


    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main">


    <router-outlet></router-outlet>

  </mat-sidenav-content>



</mat-sidenav-container>




<div class="k-loading-panel" *ngIf="loading">
  <div class="k-loading-panel-mask"></div>
  <div class="k-loading-panel-wrapper">
    <mat-progress-spinner  color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>





