@use '../../StyleUtils/mat-variables.scss' as matVar;
@use '../../StyleUtils/variables.scss' as myVar;



.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.titleCard {
  margin: 16px;
}

.contentCard {
  margin: 16px;
}

.command-bar {

  height: myVar.$command-bar-height-desktop !important;
  min-height: myVar.$command-bar-height-desktop !important;

  @media (matVar.$mat-xsmall) {
    height: myVar.$command-bar-height-mobile !important;
    min-height: myVar.$command-bar-height-mobile !important;
  }

}



.command-bar-row {

  height: myVar.$command-bar-height-desktop !important;
  min-height: myVar.$command-bar-height-desktop !important;

  padding-left: myVar.$command-bar-row-padding;
  padding-right: myVar.$command-bar-row-padding;

  background: rgba(0, 0, 0, 0.04);

  @media (matVar.$mat-xsmall) {
    height: myVar.$command-bar-height-mobile !important;
    min-height: myVar.$command-bar-height-mobile !important;
  }

}
