<div>
  <mat-toolbar class="command-bar">
    <mat-toolbar-row class="command-bar-row">
      <button mat-button (click)="create()" >
        <mat-icon>add</mat-icon>
        <span>NEW</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="content-container">

  <h2>Accounts</h2>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="balanceSheetType">
        <th mat-header-cell *matHeaderCellDef> Balance Sheet Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.balanceSheetType }} </td>
      </ng-container>

      <ng-container matColumnDef="cashFlowType">
        <th mat-header-cell *matHeaderCellDef> Cash Flow Type </th>
        <td mat-cell *matCellDef="let element" > {{ element.cashFlowType }} </td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Attivo </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive | siNo }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row 
        *matRowDef="let row; columns: displayedColumns;"
        (click)="goToDetails(row)">
        </tr >
    </table> 
  </div>
</div>
