@use '../../../styles.scss' as styles;

.table-container {
  position: relative;
  min-height: 200px;

  overflow: auto;
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.titleCard {
  margin: 16px;
}

.contentCard {
  margin: 16px;
}

.command-bar {

  height: styles.$command-bar-height-desktop !important;
  min-height: styles.$command-bar-height-desktop !important;

  @media (styles.$mat-xsmall) {
    height: styles.$command-bar-height-mobile !important;
    min-height: styles.$command-bar-height-mobile !important;
  }

}


.command-bar-row {

  height: styles.$command-bar-height-desktop !important;
  min-height: styles.$command-bar-height-desktop !important;

  padding-left: styles.$command-bar-row-padding;
  padding-right: styles.$command-bar-row-padding;

  background: rgba(0, 0, 0, 0.04);

  @media (styles.$mat-xsmall) {
    height: styles.$command-bar-height-mobile !important;
    min-height: styles.$command-bar-height-mobile !important;
  }

}
